* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #444444;
	font-family: Verdana, Arial;
	font-size: 12px;
}

table {
	border: 0;
}

#wrapper {
	width: 640px;
	height: 530px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#map {
	z-index: 1;
	width: 640px;
	height: 480px;
	position: absolute;
	left: 0px;
	top: 50px;
	background-color: grey;
}

#map div {
    width: 32px;
    height: 32px;
    float: left;
    background-image: url('images/Sprite-Kevin.png');
}

#objects {
	z-index: 2;
}

#particles {
	z-index: 3;
}

#interface {
	z-index: 4;
}

#interface {
	width: 640px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: green;
	display: none;
}

#objects .enemy {
	width: 32px;
	height: 32px;
	position: absolute;
}

#objects .marine {
	background-image: url("images/units/marine.png");
}