* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #444444;
	font-family: Verdana, Arial;
	font-size: 12px;
}

table {
	border: 0;
}

#wrapper {
	width: 640px;
	height: 530px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#map {
	z-index: 1;
	width: 640px;
	height: 480px;
	position: absolute;
	top: 50px;
	background-color: grey;
    pointer-events: all;
}

#map div {
    width: 32px;
    height: 32px;
    float: left;
    background-image: url('images/Sprite-Kevin.png');
    cursor: pointer;
}

#map div:hover {
    box-shadow: inset 0 0 10px blue;
}

#objects {
	z-index: 500;
	width: 640px;
	height: 480px;
	position: absolute;
	top: 50px;
    pointer-events: none;
}

#objects .lifebar {
	z-index: 3000;
	width: 20px;
	height: 3px;
	background: red;
	position: absolute;
}

#objects .lifebar .currentLife {
	width: 20px;
	height: 3px;
	position: relative;
	float: left;
	background: green;
}

#particles {
	z-index: 3;
}

#shroud {
	z-index: 50000;
	width: 640px;
	height: 530px;
	position: absolute;
	top: 0px;
	background: black;
	opacity: 0.7;
	display: none;
}

.overlay {
	z-index: 60000;
	width: 200px;
	height: 100px;
	position: absolute;
	top: 230px;
	left: 215px;
	background: black;
	font-size: 16px;
	padding: 10px;
	color: grey;
	display: none;
	border-radius: 5px;
	border: 1px solid grey;
}

.button {
	width: 150px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 76px;
	left: 35px;
	font-size: 18px;
	text-align: center;
	background: darkgreen;
	border-radius: 3px;
	border: 1px solid grey;
	cursor: pointer;
}

#interface {
	z-index: 5000;
}

#interface {
	width: 640px;
	height: 50px;
	position: relative;
	left: 0px;
	top: 0px;
	background-color: green;
}

#interface #combatInterface {
    background-image: url('images/ui/titlebar-empty.png');
    width: 640px;
    height: 50px;
}

#interface #fullTitleBar {
    background-image: url('images/ui/titlebar-full.png');
    width: 20px;
    height: 50px;
}

#interface #combatInterface #lifeIcon {
    position: absolute;
    top: 13px;
    left: 385px;
    font-size: 20px;
    color: lightgrey;
}

#interface #combatInterface #creditIcon {
    position: absolute;
    top: 13px;
    left: 504px;
    font-size: 20px;
    color: lightgrey;
}

#objects .enemy {
	width: 32px;
	height: 32px;
	position: absolute;
}

#objects .marine {
	background-image: url("images/units/marine.png");
}

#objects .tower {
    position: absolute;
    width: 32px;
}

#objects .tower .turret {
    position: absolute;
    float: left;
    width: 32px;
}

#objects .tower .base {
    margin-top: 4px;
}

#objects .projectile {
	position: absolute;
}

#objects .laser {
	width: 32px;
	height: 32px;
	background-image: url("images/bullets/blaster.png");
}

#objects .rocket {
    width: 32px;
    height: 32px;
    background-image: url("images/bullets/rocket.png");
}

#objects .shockwave {
	width: 32px;
    height: 32px;
    background-image: url("images/bullets/freeze.png");
}

#objects .bolt {
	width: 32px;
    height: 32px;
    background-image: url("images/bullets/plasma.png");
}

#objects .bloodSplash {
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("images/animation/splatter.png");
}

#objects .explosion {
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("images/animation/explosion.png");
}

#objects .summon {
	z-index: 4000;
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("images/animation/summon.png");
}

#buildMenu {
    display: none;
    top: 50px;
    left: 375px;
    position: absolute;
    width: 265px;
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("images/ui/menu-background.png");
    color: lightgray;
}

#buildMenu div {
    border-bottom: 2px solid grey;
    cursor: pointer;
}

#buildMenu #price {
    border: none;
    float: right;
}

#buildMenu div ul {
    list-style-type: none;
    margin-top: 5px;
}

#buildMenu div ul li {
   width:136px;
}

#buildMenu div ul li div {
    background: url('images/ui/icons-sprite.png') no-repeat;
    width: 20px;
    height: 20px;
    border: none;

}

#buildMenu .damageIcon {
    background-position: 0 0;
    display: inline-block;
    width: 20px;
    height: 20px;
}

#buildMenu .firerateIcon {
    background-position: -20px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
}

#buildMenu .rangeIcon {
    background-position: -40px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
}

#buildMenu .weaknessIcon {
    background-position: -60px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
}

#buildMenu div h4 {
    padding-left: 5px;
}

#buildMenu div img {
    float: right;
    margin: 40px 37px 0 0;
}

#buildMenu div .price {
    float: right;
    margin: 45px 50px 0 0;
}

#buildMenu .redState {
    background-color: red;
    opacity: 0.2;
}

#buildMenu .close {
    cursor: pointer;
}