* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #444444;
	font-family: Verdana, Arial;
	font-size: 12px;
}

table {
	border: 0;
}

#wrapper {
	width: 640px;
	height: 530px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#map {
	z-index: 1;
	width: 640px;
	height: 480px;
	position: absolute;
	top: 50px;
	background-color: grey;
    pointer-events: all;
}

#map div {
    width: 32px;
    height: 32px;
    float: left;
    background-image: url('images/Sprite-Kevin.png');
    cursor: pointer;
}

#map div:hover {
    box-shadow: inset 0 0 10px blue;
}

#objects {
	z-index: 500;
	width: 640px;
	height: 480px;
	position: absolute;
	top: 50px;
    pointer-events: none;
}

#particles {
	z-index: 3;
}

#interface {
	z-index: 5000;
}

#interface {
	width: 640px;
	height: 50px;
	position: relative;
	left: 0px;
	top: 0px;
	background-color: green;
}

#objects .enemy {
	width: 32px;
	height: 32px;
	position: absolute;
}

#objects .marine {
	background-image: url("images/units/marine.png");
}

#objects .tower {
    position: absolute;
    width: 32px;
}

#objects .tower .turret {
    position: absolute;
    float: left;
    width: 32px;
}

#objects .tower .base {
    margin-top: 4px;
}

#objects .projectile {
	position: absolute;
}

#objects .laser {
	width: 22px;
	height: 8px;
	background-image: url("images/bullets/blaster.png");
}

#objects .bloodSplash {
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("images/animation/splatter.png");
}

#objects .explosions {
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("images/animation/explosion.png");
}

#buildMenu {
    display: none;
    top: 50px;
    left: 375px;
    position: absolute;
    width: 265px;
    height: 480px;
    background: red;
    overflow-y: scroll;
    overflow-x: hidden;
}

#buildMenu div {
    margin-top: 3px;
    float: left;
    width: 100%;
}

#buildMenu div ul {
    list-style-type: none;
    margin-top: 5px;
}

#buildMenu div ul li {
    background: url('images/edit.png') -5px -5px no-repeat;
    padding-left: 25px;
    margin: 2px 0 0 5px;
}

#buildMenu div button {
    width: 100%;
    margin: 3px 0 0 0;
}

#buildMenu div h4 {
    padding-left: 5px;
}

#buildMenu div img {
    float: right;
    margin: 13px 20px;
}

#buildMenu .close {
    cursor: pointer;
    float: right;
}